/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;600;700;800&display=swap');

/* Shared Styles */
* {
    font-family: 'Work Sans', sans-serif;
}

.primary-btn {
    border-radius: 48px;
    background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 40px;
    border: none;
}

main {
    max-width: 1440px;
    margin: 0px auto;
}


/* header section */
header {
    /* max-width: 1440px; */
    /* margin: 0px auto; */
    padding: 0 240px 0 240px;
    background-image: url('../images/Group14.png');
    background-repeat: no-repeat;
    background-position: bottom left;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav div {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    align-items: center;
}

nav span {
    color: #ff42a5;
}

.nav-title {
    font-size: 2.8rem;
    font-weight: 700;
    margin: 0;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
}

nav li a {
    text-decoration: none;
    color: #3C354F;
    font-size: 1.125rem;
}

#youtube {
    color: #f61c0d;
    padding: 0 18px 0 20px;
    transform: scale(1.7);
}

#tiktok {
    transform: scale(1.5);
}

.follow-btn {
    padding: 18px 20px 18px 24px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

/* Banner section */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner h4 {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    margin: 0;
}

.banner h1 {
    font-size: 5.8rem;
    margin: 0;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner ul {
    padding: 0;
    margin-bottom: 41px;
}

.banner li {
    list-style: none;
    font-weight: 500;
}

.banner i {
    padding-right: 15px;
}

.banner li a {
    text-decoration: none;
    font-size: 1.25rem;
    color: #534C64;

}

#blue_btn {
    background: #4EC5F7;
}

/* Games Section */
.games-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 50px;
}

.online-games-section {
    margin-top: 120px;
    margin-bottom: 120px;
}

.online-games-section span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.online-games-section h3 {
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
}

.online-games-section p {
    color: #534C64;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 400;

}

/* .toggle-visibility {
    display: none;
} */



.search-icon img {
    width: 80px;
    height: 80px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%), lightgray 50% / cover no-repeat;
}

.search-icon p {
    color: #F948B2;
}

.search-icon {
    display: none;
}
.card{
    position: relative;
}

.card:hover .search-icon {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 338px;
    height: 394px;
    /* border-radius: 16px; */
    /* background-color: #bba9e6; */
    border-radius: 16px;
    border: 4px solid var(--Linear, #FF42A5);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%), lightgray 50% / cover no-repeat;
    opacity: 0.8;
}

/* .card:hover {
    border-radius: 16px;
    border: 4px solid var(--Linear, #FF42A5);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%), url("../images/search.png"), lightgray 50% / cover no-repeat;
    transition: 0.2s;
} */

/* Play instantly section */
.play-instantly-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 200px;

}

.play-instantly-section span {
    color: #ff42a5;
}

.play-instantly-section h3 {
    color: #0B0223;
    text-align: end;
    font-size: 3rem;
    font-weight: 700;
}

.play-instantly-section p {
    color: #534C64;
    text-align: end;
    font-size: 1.125rem;
    font-weight: 400;
}

.game-image div {
    position: relative;

}

.game-image .floating-image {
    position: absolute;
    bottom: -120px;
    left: -120px;
}

/* Action Section Start */
.action-section {
    margin-top: 180px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* grid-auto-rows: minmax(auto, auto); */
    grid-auto-flow: row;
    row-gap: 20px;
}

.button-info {
    color: #0B0223;
    font-size: 1.15rem;
    font-weight: 600;
    background-color: #fff;
    border-radius: 45px;
    border: none;
    padding: 5px 7px;
}

.button-info:hover {
    color: #FF42A5;
    border-radius: 50px;
    border: 1.5px solid var(--Linear, #FF42A5);
    background: #FFF;
    transition: 0.3s;
}


.icon {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.icon img {
    vertical-align: middle;
}

/* Footer Section */
footer {
    /* background-color: bisque; */
    background: #14053f;
    margin-top: 118px;
    /* max-width: 1440px;
    margin: 0px auto; */
}

.footer-heading {
    display: flex;
    justify-content: center;
    margin-top: 126px;
    padding: 120px 0 50px 0;
}

.footer-title {
    font-size: 2.8rem;
    font-weight: 700;
    margin: 0;
    color: #FFF;
}

.footer-title span {
    color: #F948B2;
}

.footer-options {
    padding: 0 500px;
}

.footer-socials {
    padding: 50px 700px;
}

.footer-policy {
    padding: 0 600px;
}

.footer-options ul,
.footer-socials ul {
    display: grid;
    grid-template-columns: repeat(6, auto);
}

.footer-policy ul {
    display: grid;
    grid-template-columns: repeat(4, auto);
}

.footer-options li,
.footer-socials li,
.footer-policy li {
    list-style: none;
}

.footer-options li a,
.footer-socials li a {
    text-decoration: none;
    color: #FFF;
    font-weight: 500;
    font-size: 1.125rem;
}

.footer-policy li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.60);
    font-weight: 500;
    font-size: 1rem;
}

.footer-socials i {
    font-size: 2.7rem;
}

.footer-copywrite {
    text-align: center;
    color: rgba(255, 255, 255, 0.60);
    padding-bottom: 130px;
    font-size: 1rem;
}

/* Responsive using Media Query */

/* Mobile device */
@media screen and (max-width:576px) {
    header {
        padding: 0;
        background: none;
    }

    nav,
    nav ul,
    .games-container,
    .play-instantly-section {
        flex-direction: column;
    }

    .games-container {
        align-items: center;
        text-align: center;
    }


    .logo {
        margin-top: 60px;
        margin-bottom: 24px;
    }

    nav li {
        margin-bottom: 24px;
    }

    .banner {
        flex-direction: column-reverse;
    }

    .banner-bg {
        background-image: url('../images/Group14.png');
        background-repeat: no-repeat;
        background-size: contain;
        /* background-position: bottom left; */
    }

    .banner-content {
        padding: 130px 0 10px 0;
    }

    .banner-img {
        text-align: center;
    }

    .banner-img img {
        width: 80%;
    }

    .game-image {
        text-align: end;
    }

    .right-image {
        width: 88%;
        padding-right: 10px;
    }

    .game-image .floating-image {
        width: 35%;
        bottom: -46px;
        left: 4px;
    }

    .play-instantly-section {
        gap: 70px;
    }

    .play-instantly-section p,
    .play-instantly-section h3 {
        text-align: center;
    }

    .play-instantly-section h3 {
        margin-top: 0px;
    }

    .action-section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 20px;
    }

    .action-section div {
        text-align: end;
    }

    .button-info {
        font-size: 0.7rem;
        padding: 3px 0px 5px 25px;
    }

    .icon {
        margin-right: 10px;
        width: 0;
        height: 0;
    }

    .icon img {
        position: relative;
        left: -23px;
        top: -4px;
        vertical-align: middle;
        width: 30px;
        height: 30px;
    }

    .footer-options,
    .footer-socials,
    .footer-policy {
        padding: 10px 30px;
    }

    .footer-options ul,
    .footer-socials ul {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 10px;
        row-gap: 25px;
    }

    .footer-policy ul {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }


}

/* Tablet device */
@media screen and (min-width:576px) and (max-width:960px) {
    header {
        padding: 0;
    }

    nav {
        flex-direction: column;
    }

    .logo {
        margin-top: 60px;
        margin-bottom: 24px;
    }

    .banner-img {
        text-align: center;
    }

    .banner-img img {
        width: 80%;
    }

    .banner {
        flex-direction: column-reverse;
    }

    .banner-content {
        padding: 130px 0;
    }

    .games-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-columns: repeat;
        align-items: center;
        margin-top: 50px;
        justify-content: center;
    }

    .play-instantly-section {
        flex-direction: column;
        gap: 100px;
    }

    .play-instantly-section p,
    .play-instantly-section h3 {
        text-align: center;
    }

    .game-image {
        text-align: end;
    }

    .game-image .right-image {
        width: 80%;
    }

    .game-image .floating-image {
        left: 32px;
        width: 38%;
    }

    .action-section {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 20px;
    }

    .footer-options,
    .footer-socials,
    .footer-policy {
        padding: 10px 30px;
    }

}